<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>:)</title>
</head>
<body>
  <img src="img/vp_banner_2025_AA.jpg" alt="kursuse banner">
  <h1>Variste leht</h1>
  <p>pole midagi, <a href="https://www.tlu.ee">kooli</a> pärast</p>
  <hr>
  <h2>siin on</h2>
  <ul>
	<li><a href="/timenow">ajainfo</a></li>
	<li><a href="/vanasonad">eesti vanasõnad</a></li>
	<li><a href="/regvisit">registreeru</a></li>
  </ul>
</body>
</html>