<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>:)</title>
</head>
<body>
  <img src="img/vp_banner_2025_AA.jpg" alt="kursuse banner">
  <h1>Variste leht</h1>
  <p>pole midagi, <a href="https://www.tlu.ee">kooli</a> pärast</p>
  <hr>
  <ul>
	<li><a href="/">avalehele</a></li>
  </ul>
  <h2>registreeri :)</h2>
  <form method="POST">
	<label for="nameInput">nimi:</label>
	<input id="nameInput" type="text" name="nameInput" placeholder="eesnimi">
	<input id="nameInput" type="text" name="nameInput" placeholder="perekonnanimi">
	<input id="nameSubmit" name="nameSubmit" type="submit" value="salvesta">
  </form>
</body>
</html>